*{
margin: 0px;
padding: 0px;
}

body{
background-color: #dcdcdc;

}

.principal{
width: 95%;
height: auto;
margin: auto;
padding: 15px;
box-shadow: 2px 4px rgba(255, 136, 0, 0.5);
background-color: #FFFFFF;
color: #ee7c12;
}

.cabecalho{



}

.imagem_cabecalho{


}


.titulo{
text-transform: uppercase;

color: #FFFFFF;
padding: 16px;
}

.direita{


}