*{
margin: 0px;
padding: 0px;
}

body{
background-color: #dcdcdc;

}

.principal{
width: 95%;
height: auto;
margin: auto;
padding: 15px;
box-shadow: 2px 4px rgba(255, 136, 0, 0.5);
background-color: #FFFFFF;

}

.cabecalho{



}

.imagem_cabecalho{


}


.titulo{
text-transform: uppercase;
padding: 16px;
}

.sessao{


}

.receita1{

}

.titilo__receita1{
text-align: center;
}